table {
    border-collapse: collapse;
  }

td{
    border:0.5px ;
    padding:1em;
    border-color: black;
    border-collapse: collapse;
}
tbody{
    border:0.5px solid black;
    border-collapse: collapse;
}

th{
    background-color: rgb(206, 170, 206);
    margin:-1em;
    padding:0.5em;
    border-collapse: collapse;
}

tr{
  border: solid;
  border-width: 1px 0;
}

tr:first-child {
    border-top: none;
  }
  tr:last-child {
    border-bottom: none;
  }
